<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>電子マネー｜WAON [ワオン] 公式サイト</title>
<meta name="description" content="かわいいお金、WAON誕生。WAON（ワオン）はイオンで利用できる電子マネーです。あらかじめチャージ（入金）しておけば、ワンタッチでお買い物ができます。だから、カンタン、べんり、スピーディ。その上、おトクもつれてくる" />
<meta name="keywords" content="WAON,わおん,ワオン,電子マネー,イオン,ポイント,かわいい,お金,カード,チャージ,チャージャー,オートチャージ,選べるカード,犬" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="robots" content="index,follow" />
<meta name="robots" content="noydir" />
<meta name="robots" content="noodp" />
<link rel="shortcut icon" href="/common/images/favicon.ico" />
<link rel="home" href="http://www.waon.net/" title="WAON" />
<link rel="help" href="/site/sitemap" title="サイトマップ" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.rdf" />
<link href="/common/css/import.css" rel="stylesheet" type="text/css" media="all" />
<link href="/common/css/plug-in/jquery.bxslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="detail.css" rel="stylesheet" type="text/css" media="all" />
<link href="/common/css/print.css" rel="stylesheet" type="text/css" media="print" />



</head>

<body class="top" id="index">
<div id="platform" class="typeD">
<ul id="skipNavi">
<li><a href="#contents">ページ内容へ</a></li>
<li><a href="#globalNav">ナビゲーションへ</a></li>
</ul>
<noscript>
<p class="noscript">当サイトをご覧いただくにはブラウザの設定で<strong>JavaScriptを有効に設定</strong>する必要がございます。</p>
</noscript>
<div id="header">
<div id="headerNav">
<h1 class="siteID"><a href="/index.html"><img src="/common/images/img-site-id.gif" alt="WAON" width="85" height="50" /></a><img src="/common/images/img-description.png" alt="ポイントが貯まるおトクな電子マネー WAON[ワオン] What is WAON, a lovely way to pay." width="380" height="50" class="png" /></h1>
<p class="dsp_Print"><img src="/common/images/bg-indexheader_print.gif" alt="ポイントが貯まるおトクな電子マネー WAON[ワオン] What is WAON, a lovely way to pay." width="704" height="84" /></p>
<ul class="remoteNav">
<li class="contact">|<a href="/service/contact/">お問い合わせ</a></li>
<li class="sitemap">|<a href="/site/sitemap/">サイトマップ</a></li>
<li class="question">|<a href="/faq/">よくあるご質問</a>|</li>
</ul>
<form method="get" action="http://sitesearch.waon.net/ja_waon/search.x">
<p class="searchArea">
	<input type="text" name="q" value="" id="MF_form_phrase" autocomplete="off" /><input type="image" src="/common/images/btn-search.gif" alt="検索" class="searchBtn" /><input type="hidden" name="ie" value="utf8" /><input type="hidden" name="page" value="1" /><input type="hidden" name="site" value="" />
</p>
</form>
</div>
<!-- /header --></div>



<div id="globalNav" class="png">
<ul>
<li class="about"><a href="/about/index.html" ><img src="/common/images/gnav/gn-about.png" alt="WAONを知りたい" width="235" height="61" /></a></li>
<li class="point"><a href="/point/index.html"><img src="/common/images/gnav/gn-point.png" alt="ポイントを使いこなす" width="235" height="61" /></a></li>
<li class="shop"><a href="/shop/index.html"><img src="/common/images/gnav/gn-shop.png" alt="使えるお店を探す" width="235" height="61" /></a></li>
<li class="campaign"><a href="/campaign/index.html"><img src="/common/images/gnav/gn-campaign.png" alt="キャンペーン情報" width="235" height="61" /></a></li>
</ul>
<!-- /globalNavi --></div>





<div id="contents">
<div class="keyVisuals">
	<p class="loading"><img src="/images/flexslider_loading.gif" alt="" width="924" height="301" /></p>
</div>

<div id="main">

<div id="howto" class="png">
	<img src="/images/howto/title.png" alt="WAONの使い方" />
	<p class="operationBtn"><a href="/about/terminal/" title="電子マネー「WAON」の使い方"><img src="images/howto/btn_operation.png" class="hover" alt="WAON端末操作について" width="634" height="40" /></a></p>
</div>

<div class="boxedItem importantInfo">
	<h2>お知らせ</h2>
	<div class="inner">
		<div class="innerBtm">
			<p class="atttxt">※一部のお知らせについては、PDFファイルをダウンロード後、閲覧できるソフトが必要となる場合がございます。</p>
			<dl id="importantfeed" class="info date lastChild firstChild"></dl>
			<p class="more"><a href="/info/" title="お知らせをもっと見る">もっと見る&gt;&gt;</a></p>
		</div></div>
<!-- /boxediItem --></div>

<div class="bannerboxInfo">
	<ul class="banner">
		<li><a href="/info/service/y2015/d0731-kappa.html"><img src="/common/images/banner/d150731_kappa.jpg" width="200" height="91" alt="「かっぱ寿司」でWAONが使えるようになりました。" /></a><span class="txtlink"><a href="/info/service/y2015/d0731-kappa.html" title="電子マネーWAONが「かっぱ寿司」で使えるようになりました">「かっぱ寿司」でWAONが使えるようになりました。</a></span></li>
		<li><a href="/info/service/y2015/d0801-nexco.html"><img src="/common/images/banner/d150801-nexco.gif" width="200" height="91" alt="NEXCO西日本管内のサービスエリア・パーキングエリアでWAONが使えるようになりました。" /></a><span class="txtlink"><a href="/info/service/y2015/d0801-nexco.html" title="NEXCO西日本管内のサービスエリア・パーキングエリアでWAONが使えるようになりました。">8/1&nbsp;NEXCO西日本管内のSA・PAでWAONが使えるようになりました。</a></span></li>
		<li><a href="/about/search/detail/?card=c0143"><img src="/common/images/banner/d150725_ecoisland.jpg" width="200" height="91" alt="＜沖縄県宮古島＞エコアイランド宮古島WAON 7/25より販売開始！" /></a><span class="txtlink"><a href="/about/search/detail/?card=c0143">7/24&nbsp;＜沖縄県宮古島＞エコアイランド宮古島WAON 7/25より販売開始！</a></span></li>
		<!--li><a href="/info/service/y2015/d0717-kidsdance.html"><img src="/common/images/banner/d150717-kidsdance.gif" width="200" height="91" alt="大阪でLet's Dance！" /></a><span class="txtlink"><a href="/info/service/y2015/d0717-kidsdance.html" title="大阪でLet's Dance！">大阪でLet's Dance！</a></span></li-->
		<!--li><a href="/special/soccer/"><img src="/common/images/banner/bnr-soccer.jpg" width="200" height="91" alt="サッカー大好きWAON！" /></a><span class="txtlink"><a href="/special/soccer/" title="サッカー大好きWAON！">7/11&nbsp;サッカー大好きWAON！</a></span></li-->
		<!--li><a href="/point/save/partner-service/index.html"><img src="/common/images/banner/d150601_eheya.jpg" width="200" height="91" alt="大東建託 WAONポイントサービススタート！" /></a><span class="txtlink"><a href="/point/save/partner-service/index.html">6/1&nbsp;大東建託 WAONポイントサービススタート！</a></span></li-->
		
	</ul>
</div>

<div class="boxedItem campaignInfo">
	<div class="clearfix"><h2>キャンペーン情報<span class="linkBtn png"><a href="/index.rdf"><img src="/common/images/icon-rss.png" alt="RSS" width="43" height="16" /></a></span></h2></div>
	<div class="inner">
		<div class="innerBtm">
			<dl id="campaignfeed" class="info date lastChild firstChild"></dl>
			<p class="more"><a href="/campaign/" title="キャンペーン情報をもっと見る">もっと見る&gt;&gt;</a></p>
		</div>
	</div>
<!-- /boxediItem --></div>

<div class="bannerbox"><div class="bannerboxin">
<ul class="banner">

	<li><a href="/campaign/y2015/d0801-d0823_nexco.html"><img src="/common/images/banner/d150801-d150823_nexco.png" width="200" height="91" alt="NEXCO西日本管内のサービスエリア・パーキングエリアでWAONポイント2倍！WAONご利用スタートキャンペーン！" /></a></li>
	<li><a href="http://v6.advg.jp/adpv6/r/1ll_70m"><img src="/common/images/banner/bnr-aeon-card48.jpg" width="200" height="91" alt="イオンカード(WAON一体型)ご入会で最大2,000WAONポイントプレゼント！" /></a></li>
	<!--li><a href="/campaign/y2015/d0724-d0726-quintuple.html"><img src="/common/images/banner/d150724-d150726-quintuple.jpg" width="200" height="91" alt="＜7/24～7/26＞WAONポイント5倍！" /></a></li-->
	<li><a href="/campaign/y2015/d0715-d0831_jrs.html" onclick="_gaq.push(['_trackEvent', 'JRS_150715CP', 'click', 'top_minibnr', , true]);"><img src="/common/images/banner/d150715_jrs.png" width="200" height="91" alt="JRSメンバーズクラブWAON　新規ご入会キャンペーン！" /></a></li>
	<li><a href="/campaign/y2015/d0701-d0930_miruden.html"><img src="/common/images/banner/d0701-d0930_miruden.jpg" width="200" height="91" alt="はぴeみる電×WAONキャンペーン" /></a></li>
	<li><a href="/campaign/y2015/d0101_jal.html"><img src="/common/images/banner/d150101_jal.jpg" width="200" height="91" alt="＜イオン×JAL＞JALのマイルなら、WAONに交換するのが断然おトク！JALマイル10,000マイル→11,000WAON！" /></a></li>
</ul>
<p class="title"><img src="images/otoku_title.png" alt="おトク情報" width="640" height="18" class="png" /></p>
<ul class="banner">
	<li><a href="/point/save/visit/index.html"><img src="/common/images/banner/bnr-cp-visitpoint-S.jpg" width="200" height="91" alt="毎週土日はタッチでWAONポイントプレゼント！" /></a></li>
	
	<li><a href="/campaign/y2013/thanks10day.html"><img src="/common/images/banner/thanks10day.gif" alt="毎月10日はありが10デー" width="200" height="91" /></a></li>
	
	<li><a href="/point/save/bonus-point/"><img src="/images/index-bnr15.gif" alt="通常のWAONポイントに加え、ボーナスポイントをプレゼント！" width="200" height="91" /></a></li>
	
	<li><a href="/campaign/index.html#wakuwaku_day"><img src="/images/index-bnr14.gif" alt="お客様わくわくデー" width="200" height="91" /></a></li>

	<li><a href="/campaign/index.html#thanks_day"><img src="/images/index-bnr13.gif" alt="WAONのお支払いまたはイオンカードをご提示（お預かり）で5％OFF！" width="200" height="91" /></a></li>
	<li><a href="/point/save/tuesday-market/index.html"><img src="/images/index-bnr03.jpg" alt="火曜市 WAONトクトクポイント：毎週火曜日に、イオン直営売場にてWAONで3,000円以上お買い上げの方に100WAONポイントプレゼント！" width="200" height="91" /></a></li>
	
	<li><a href="/point/save/gg_waon/index.html"><img src="/common/images/banner/gg_thanksday.jpg" width="200" height="91" alt="55歳以上のお客さまがおトク！G.G感謝デー" /></a></li>
	
	<li><a href="/campaign/y2012/d0314_yuyu-point-present/index.html"><img src="/common/images/banner/d0314_yuyu-point-present.jpg" alt="ゆうゆうワオン100WAONポイントプレゼント！" width="200" height="91" /></a></li>
	
</ul>
</div></div>



<!-- /main --></div>

<div id="bannerArea2">
<dl>
	<dd>
		<div id="usermenu_area">
			<div class="usermenu">
				<div class="reg_inline">
					<p class="title"><span>WAONをご利用の方</span></p>
					<ul>
						<li><a href="/service/net-station/login-guide/"><img class="hover" src="/common/images/bnr-btn-waon-netstation.png" alt="WAON ネットステーションへログインする" /></a></li>
						<li><a href="/about/tie-up/jal/logininfo/"><img class="hover" src="/common/images/bnr-btn-jmbwaon.png" alt="JMB WAONのクレジットチャージの利用登録" /></a></li>
						<li><a href="/about/registration/"><img src="/common/images/bnr-registration.png" alt="所有者情報登録について：詳細・お手続きはこちらから｜一部のWAONカードではポイント交換時に個人情報の登録が必要です。" class="hover" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</dd>
	

<!-- /registration_area -->
</dl>
</div>





<div id="bannerArea">
<dl>
	<!--dt class="title01 titlelH2"-->
	<dt class="title01"><span>提携ポイントについて</span></dt>
	<dd>
		<ul>
			<li><a href="/point/management/exchange/for-etc/index.html"><img class="hover" src="/common/images/bnr-tieupshop.png" alt="「提携する他のポイント」をWAONポイントに交換" width="220" height="68" /></a></li>
		</ul>
	</dd>

	<dt class="title01"><span>WAONカードを探す</span></dt>
	<dd>
		<ul>
			<li><a href="/special/region/index.html"><img src="/common/images/banner/bnr-region.gif" alt="ご当地WAON：どんどん広がる！" width="220" /></a></li>
			<li><a href="/special/soccer/"><img src="/common/images/bnr-soccer.jpg" alt="サポーターと、クラブ・ホームタウンをつなぐサッカー大好きWAON誕生！" width="220" /></a></li>
			<li><a href="/about/mobile/"><img src="/common/images/bnr-mobilewaon.png" alt="モバイルWAON・モバイルJMB WAONについて" width="220" class="hover" /></a></li>
			<li><a href="/about/search/"><img src="/common/images/banner/bnr-easy-waoncard-search.gif" alt="かんたん、べんり、WAONカード検索" width="220" /></a></li>
		</ul>
	</dd>
	
	<dt class="title01"><span>55歳から便利に使う</span></dt>
	<dd>
		<ul>
			<li><a href="/special/gg/index.html"><img src="/common/images/banner/bnr-gg.gif" alt="55歳以上のお客さま限定のおトクなWAON" width="220" /></a></li>
		</ul>
	</dd>
	
	<dt class="title01"><span>もっと便利にＷAONを使う</span></dt>
	<dd>
		<div id="waonmembers_area">
			<div class="waonmembers">
				<div class="reg_inline">
					<a href="/about/waonmembers/"><img src="/common/images/bnr-waonmembers.png" alt="おトクな情報盛りだくさん。もっとおトクに、もっとたのしくWAONメンバーズ" class="hover" width="216" height="68" /></a>
					<ul>
						<li><a href="https://www.waon-members.com/cgi-bin/ent/onetime/pc/ca.cgi"><img src="/common/images/bnr-waonmembers-btn01.png" alt="WAONメンバーズ新規登録はこちら" class="hover" width="206" height="36" /></a></li>
						<li><a href="https://www.waon-members.com/cgi-bin/myp/login/pc/ca.cgi"><img src="/common/images/bnr-waonmembers-btn02.png" alt="WAONメンバーズログインはこちら" class="hover" width="206" height="36" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="waonapp_area">
			<div class="waonapp">
				<div class="reg_inline">
					<a href="/info/service/y2013/waon_app.html"><img src="/common/images/bnr-waonapp.png" alt="便利でおトクな「WAONサービスアプリ」" class="hover" width="216" height="68" /></a><br />
				</div>
			</div>
		</div>
		<ul>
			
			<li><a href="/special/fun/index.html"><img src="/common/images/banner/bnr-hwg.png" alt="HAPPY WAON ひろば"  width="220" height="101" /></a></li>
		</ul>
	</dd>
	


</dl>
<!-- /bannerArea --></div>




<div id="spPhone_btn">
	<a href="/s/"><img src="/images/spPhone_btn.png" alt="スマートフォン版トップページ" width="940" height="89" /></a>
</div>

<!-- /contents --></div>


<div id="toPageTop">
<p class="toPageTop scroll"><a href="#platform"><img src="/common/images/btn-totop.png" alt="ページの先頭へ" /></a></p>
<!-- /toTop --></div>
<div id="footer">
<div id="utilitiesNav">
<dl class="links">
	<dt><a href="/about/">WAONを知りたい</a></dt>
	
	<dd><a href="/about/waon/index.html">WAONってなに？</a></dd>
	<dd><a href="/about/search/index.php">WAONを選ぶ</a></dd>
	<dd><a href="/about/apply/index.html">WAONを申込む</a></dd>
	<dd><a href="/about/charge/index.html">チャージ（入金）をする</a></dd>
	<dd><a href="/about/shopping/index.html">WAONを使う（支払う）</a></dd>
	<dd><a href="/about/point/index.html">WAONポイントについて</a></dd>
	<dd><a href="/about/inquiry/index.html">利用履歴や残高の確認をする</a></dd>
	<dd><a href="/about/tie-up-info/index.html">WAONの使える提携先について</a></dd>
	<dd><a href="/about/tie-up/index.html">提携カードについて</a></dd>
	<dd><a href="/about/mobile/index.html">携帯電話・スマートフォンで使いたい</a></dd>
	<dd><a href="/point/save/index.html">WAONポイントをおトクにためる</a></dd>
	<dd><a href="/about/stipulation/">WAON 利用規約</a></dd>
</dl>
<dl class="links">
	<dt><a href="/point/">ポイントを使いこなす</a></dt>
	<dd><a href="/point/specification/index.html">WAONポイントとは</a></dd>
	<dd><a href="/point/save/index.html">WAONポイントをためる</a></dd>
	<dd><a href="/point/management/index.html">WAONポイントを確認する</a></dd>
	<dd><a href="/point/use/index.html">WAONポイントを使う</a></dd>
	<dd><a href="/point/management/exchange/for-etc/index.html">提携ポイントからWAONポイントへ</a></dd>
	<dt><a href="/operation/">WAON端末操作に<br />ついて</a></dt>
	<dd><a href="/operation/station/">WAONステーション</a></dd>
	<dd><a href="/operation/net-station/">WAONネットステーション</a></dd>
	<dd><a href="/operation/mobile-app/">モバイルWAON</a></dd>
	<dd><a href="/operation/charger/">WAONチャージャー</a></dd>
</dl>
<dl class="links">
	<dt><a href="/shop/">使えるお店を探す</a></dt>
	<dd><a href="/shop/tieup-etc/">提携店舗について</a></dd>
	<dd><a href="/shop/internet-shop/">ご利用いただけるネットショップ・サービス</a></dd>
  <dt><a href="/service/net-station/login-guide/">WAONネットステーションを使う</a></dt>
</dl>

<dl class="links">
	<dt><a href="/campaign/">キャンペーン情報</a></dt>
	<dd><a href="/campaign/old/">終了したキャンペーン情報</a></dd>
  <dt><a href="/special/">スペシャルコンテンツ</a></dt>
  <dd><a href="/special/region/index.html">ご当地WAONカード</a></dd>
  <dd><a href="/special/soccer/">サッカー大好きWAON</a></dd>
  <dd><a href="/special/gg/index.html">人生でいちばん輝く世代、G.G（グランドジェネレーション）</a></dd>
  <dd><a href="/special/fun/index.html">ハッピーワオンひろば</a></dd>
</dl>

<dl class="links">
	<dt><a href="/info/">WAONからのお知らせ</a></dt>
	<dd><a href="/info/service/">サービス情報</a></dd>
	<dd><a href="/info/press/">インフォメーション</a></dd>

	<dt><a href="/faq/">よくあるご質問</a></dt>

	<dt><a href="/service/">困ったときは</a></dt>
	<dd><a href="/service/trouble/">WAONを紛失・盗難・破損したときは</a></dd>
	<dd><a href="/service/contact/">お問い合わせ、資料請求</a></dd>
</dl>


<!-- /utilitiesNav --></div>
<div id="footerNav" >
<p class="siteID-footer"><a href="/index.html"><img src="/common/images/img-site-id-foot.gif" alt="WAON" width="101" height="64" /></a></p>
<ul>
	<li class="company">|<a href="/site/company/">企業情報</a>|</li>
	<li class="privacy">|<a href="/site/privacy/">プライバシーポリシー</a></li>
	<li class="sitemap">|<a href="/site/sitemap/">サイトマップ</a></li>
	<li class="terms">|<a href="/site/">サイトご利用に関して</a></li>
	<li class="top">|<a href="/index.html">トップへ戻る</a></li>
</ul>
<address>Copyright(c) AEON Co., Ltd All Right Reserved.</address>
</div>
<p class="dsp_Print">
<img src="/common/images/bg-footer_print.gif" alt="Copyright(c) AEON Co., Ltd All Right Reserved." />
</p>
<!-- /footer --></div>

<!-- /platform --></div>
<script type="text/javascript" src="/common/js/import.js"></script>
<script type="text/javascript" src="/js/info.js"></script>
<script type="text/javascript" src="/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/sp_cookie.js"></script>
<script type="text/javascript" src="/common/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="/js/indexslider.js"></script>
<script type="text/javascript" src="/js/howto.js"></script>

<div id="analyzer">
<script type="text/javascript">
	var UA = navigator.userAgent;
	var GA_account;
	if(UA.indexOf('WaonApp') > 0){
        GA_account=("UA-49818049-1");
    }else{
        GA_account=("UA-22626634-1");
    }
  
  
  
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', GA_account]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- /analyzer --></div>

</body>
</html>
