<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta charset="shift_jis">
<title>イオンギフトカード</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/common/css/reset.css" media="all">
<link rel="stylesheet" href="/common/css/tag.css" media="all">
<link rel="stylesheet" href="/common/css/style.css" media="all">
<link rel="stylesheet" href="/css/login.css" media="all">
<!--[if lt IE 9]>
	<script src="/common/js/html5.js"></script>
	<script src="/common/js/IE9.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper">
<a name="top" id="top"></a> 

	<div id="head_wrap">
		<header id="header" class="clearfix">
		<div class="aeon_logo">
			<h1><img src="/common/img/logo.gif" width="283" height="28" alt="AEONGIFTCARD"></h1>
		</div>
		</header>
	</div>

	<div id="contents">
		<h2>便利なカードタイプの&nbsp;AEON&nbsp;GIFT&nbsp;CARD</h2>
		<div class="clearfix" id="login_link">
			<div class="login_area">
				<h3><img width="252" height="57" alt="ご利用残高・履歴照会はこちら" src="/img/login/text01.gif"></h3>
					<dt><a href="/GiftCard/init.do"><img src="/img/login/login_bt.gif" alt="ログインする"></a></dt>
					<dd>お手元にカードをご用意ください。</dd>
			</div>
			<div class="detail_area">
				<h3><img width="252" height="57" alt="AEONGIFTCARDについて詳しくはこちら" src="/img/login/text02.gif"></h3>
				<dl>
					<dt><a href="http://www.aeongiftcard.net/"><img src="/img/login/detail_bt.gif" alt="詳細を見る"></a></dt>
					<dd><a href="http://www.aeongiftcard.net/" class="orange">aeongiftcard.net</a>へリンクします。</dd>
				</dl>
			</div>

		</div>
		<p style="color:#db0000;margin-top:15px;text-align:center; font-size:14px;">
		※プレミアムお買物カードの有効期限は、2014年8月31日(日)をもちまして終了しております。現在はご利用いただけませんのでご了承ください。
		</p>
	</div>

	<div id="foot_wrap">
		<footer id="footer" class="clearfix">
			<div class="foot_logo">
			<a href="http://www.aeon.info/" target="blank"><img src="/common/img/foot_logo.gif" width="68" height="22" alt="AEON"></a>
			</div>
			<div class="copy">
			<img src="/common/img/copy.gif" width="227" height="11" alt="COPYRIGHT 2014 AEON ALL Rights Reserved. ">
			</div>
		</footer>
	</div>
</body>
</html>