<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" href="/user_data/css/common.css" type="text/css" media="all" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.petras.jp/rss/index.php" />
<script type="text/javascript" src="/user_data/packages/default/js/css.js"></script>
<script type="text/javascript" src="/user_data/packages/default/js/navi.js"></script>
<script type="text/javascript" src="/user_data/packages/default/js/win_op.js"></script>
<script type="text/javascript" src="/user_data/packages/default/js/site.js"></script>
<title>AEON 灯油宅配サービス/TOPページ</title>
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<script type="text/javascript">//<![CDATA[
    
//]]>
</script>
</head>

<!-- ▼BODY部 スタート -->
<body onload="preLoadImg('/user_data/packages/default/'); ; httpToHttps();">


<noscript>
  <p>JavaScript を有効にしてご利用下さい.</p>
</noscript>

<a name="top" id="top"></a>

<!--▼HEADER--><div id="headerNew">  <div id="headerLay">  <h1>    <a href="http://www.petras.jp/">      <img src="/user_data/packages/default/img/header/title_aeon.gif" width="251" height="31" alt="AEON 灯油宅配サービス" /></em></a>  </h1>  </div></div><!--▲HEADER-->
<div id="gnaviBg"><div id="gnavi"><div class="clearfix">	<ul>				<li><a href="/user_data/service.php"><img src="/user_data/packages/default/img/common/aeon_gnavi01.gif" width="223" height="35" alt="サービス概要" /></a></li>		<li><a href="/user_data/delivery_map.php"><img src="/user_data/packages/default/img/common/aeon_gnavi02.gif" width="223" height="35" alt="宅配エリア詳細" /></a></li>		<li><a href="/user_data/price_map.php"><img src="/user_data/packages/default/img/common/aeon_gnavi03.gif" width="223" height="35" alt="灯油価格を見る" /></a></li>		<li><a href="/entry/kiyaku.php"><img src="/user_data/packages/default/img/common/aeon_gnavi04.gif" width="223" height="35" alt="会員規約" /></a></li>			</ul></div></div></div>
<div id="container">

      
      <div id="two_maincolumn">
              
        <div id="flasharea">
  <img src="/user_data/packages/default/img/top/top_img01.jpg" alt="パソコン・ケータイで簡単注文！イオンのネット灯油宅配サービス　手軽にパソコン・ケータイで灯油宅配の注文ができます。まずは会員登録から。" width="640" height="232" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="15,187,195,213" href="/user_data/service.php" alt="ネット灯油宅配サービスって？" />
<area shape="rect" coords="199,187,285,213" href="/entry/kiyaku.php" alt="会員登録" />
</map>
</div>    
                      <!-- ▼新着情報 ここから-->
                  <div id="newsarea">
  <h2>
    <img src="/user_data/packages/default/img/top/top_title01.gif" width="640" height="27" alt="インフォメーション" />
  </h2>

<div id="request-banner">
<img src="/user_data/packages/default/img/banner/01171418_54b9f09641a11.jpg" alt="" />
</div>


  <dl>
    <dt>2015/08/11</dt>
    <dd>
                  お盆期間中の配達について
        		<br />
                まことに勝手ではございますがお盆期間中の配達は下記のスケジュールとなります。<br />
 <br />
　　　8月11日(火)　　15時迄のご注文　　8月12日配達<br />
　　　8月12日(水)　　15時迄のご注文　　8月17日配達<br />
　　　8月12日(水)　　15時～<br />
　　　8月17日(月)　　15時迄のご注文　　8月18日配達<br />
　　　8月18日(火)　　15時迄のご注文　　8月19日配達<br />
　　　　　　※　北海道は12時迄のご注文になります。　<br />
<br />
8月13日(木)～8月16日(日)の期間中は、宅配業務がお休みとなります。<br />
<br />

	      </dd>
  </dl>
  <dl>
    <dt>2015/07/31</dt>
    <dd>
                  サーバーメンテナンスのお知らせ
        		<br />
                誠に勝手ではございますが2015年8月6日(木) AM 2:00～AM 7:00の間はサーバーメンテナンスの為サービスを停止させて頂きます。
	      </dd>
  </dl>
  <dl>
    <dt>2015/07/30</dt>
    <dd>
                  宅配エリア拡大のおしらせ
        		<br />
                &lt;山梨県&gt;<br />
甲府市の一部、中央市の一部で宅配が可能となりました。<br />
宅配可能エリアは「宅配エリア詳細」からご確認下さい。
	      </dd>
  </dl>
  <dl>
    <dt>2015/06/12</dt>
    <dd>
                  宅配エリア拡大のおしらせ
        		<br />
                &lt;岐阜県&gt;<br />
岐阜市、各務原市の全域で宅配が可能となりました。<br />
その他宅配可能エリアは「宅配エリア詳細」からご確認下さい。
	      </dd>
  </dl>
  <dl>
    <dt>2015/05/21</dt>
    <dd>
                  秋田県一部地域の宅配曜日指定について
        		<br />
                誠に勝手ではございますが、6月1日より10月31日まで男鹿市、潟上市、五城目町、井川町、八郎潟町の宅配を火・金曜日、の宅配とさせて頂きます。詳細につきましては、ペトラス灯油受注センター(0570-000-858)まで、お問い合わせください。
	      </dd>
  </dl>
</div>
                <!-- ▲新着情報 ここまで-->
                </div>
  
      <div id="rightcolumn">
                  <!-- ▼ログイン ここから-->
                  <!--▼ログインここから-->
    <form name="login_form" id="login_form" method="post" action="https://www.petras.jp/frontparts/login_check.php">
      <input type="hidden" name="mode" value="login" />
      <input type="hidden" name="transactionid" value="d19d2c9760326ace26b7677780981b3667f6e13f" />
      <input type="hidden" name="url" value="/index.php" />

          <div id="loginarea">
	<p><img src="/user_data/packages/default/img/side/login_h2_01.gif" width="251" height="39" alt="灯油宅配をオーダーする" /></p>
      <div id="login">
        <ul class="login-txt">
<li><div class="clearfix"><div class="f-left">ご新規の方は<a href="/entry/kiyaku.php">こちら</a>へ</div><div class="f-right"><a href="/entry/kiyaku.php"><img src="/user_data/packages/default/img/side/btn_login_01.gif" width="75" height="21" alt="会員登録" /></a></div></div></li>
</ul>
<p><img src="/user_data/packages/default/img/side/login_title.gif" width="110" height="14" alt="メンバーログイン" /></p>
<p class="login-email">アカウントID<input type="text" name="customer_id" class="box96" value="" style="ime-mode: disabled;"/></p>
        <p class="password">パスワード<br /><input type="password" name="login_pass" class="box96" />
          <input type="image"  src="/user_data/packages/default/img/side/btn_login_01-04.gif" class="box51" alt="ログイン" name="subm" />
      </p>
<a href="https://www.petras.jp/forgot/index.php" onclick="win01('https://www.petras.jp/forgot/index.php','forget','600','400'); return false;" target="_blank">※パスワードをお忘れの方はこちらへ→</a>

      </div>


        <!--ログインフォーム-->
</div></form>
<!--▲ログインここまで-->
                <!-- ▲ログイン ここまで-->
              <!-- ▼バナーエリア ここから-->
                  <div class="banner-box">
<ul>
<li> <a href="/user_data/price_map.php"><img src="/user_data/packages/default/img/side/banner01.jpg" alt="灯油価格を見る" width="250" height="87" /></a> </li>
<li><img src="/user_data/packages/default/img/common/qr_banner.gif" alt="会員登録がお済みの方はケータイでご注文いただけます http://www.petras.jp/mobile/" width="250" height="87" /></li>
</ul>
</div><!-- banner-box -->

<div class="banner-box">
<ul>
<li><a href="http://www.ys-energy.jp/hometank/index.html" target="_blank"><img src="/user_data/packages/default/img/banner/03251500_55124f0c5bd3c.gif" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
<div class="banner-box">
<ul>
<li><a href="https://www.g-foot.jp/ec/ASBee/cmShopTopPage1.html" target="_blank"><img src="/user_data/packages/default/img/banner/06161017_557f79222cf37.png" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
<div class="banner-box">
<ul>
<li><a href="http://www.aeon.co.jp/sp_aeoncard/campaign/aeoncardwaon/tokimeki/campaign.html" target="_blank"><img src="/user_data/packages/default/img/banner/10281136_544f01100d451.gif" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
<div class="banner-box">
<ul>
<li><a href="http://www.aeonnetshop.com/" target="_blank"><img src="/user_data/packages/default/img/banner/01290912_54c97afd1d881.jpg" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
<div class="banner-box">
<ul>
<li><a href="http://www.aeonshop.com/index.html" target="_blank"><img src="/user_data/packages/default/img/banner/08120927_53e95f765f646.gif" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
<div class="banner-box">
<ul>
<li><a href="http://www.aeoncinema.com/cinema/event/2014/otoku/index.html" target="_blank"><img src="/user_data/packages/default/img/banner/01290905_54c9794aa1f20.jpg" alt="" /></a> </li>
</ul>
</div><!-- banner-box -->
                <!-- ▲バナーエリア ここまで-->
            </div>
    
</div>


<!--▼FOTTER-->
<div id="fotterNew">
<div id="pagetop"></div>
<div id="fnavi">
<ul>
<li><a href="/user_data/company.php">企業情報</a>｜</li>
<li><a href="/user_data/inquiry.php">お問い合わせ</a>｜</li>
<li><a href="/user_data/privacy.php">プライバシーポリシー</a>｜</li>
<li><a href="/user_data/kiyaku.php">ご利用規約</a></li>
</ul>
<p>Copyright &copy; 2010 MEGA PETRO. All rights reserved.</p>
</div>
<div id="aeonFotter">
<div id="fotterLogo">
<p><a href="http://www.aeon.info/" target="_blank"><img src="/user_data/packages/default/img/common/foot_logo.gif" width="109" height="27" alt="AEON" /></a></p>
<ul>
<li><a href="http://www.aeon.jp/" target="_blank"><img src="/user_data/packages/default/img/common/foot_btn01.gif" alt="お客さまサイトへ" width="92" height="13" border="0" /></a></li>
<li><a href="http://www.aeon.info/" target="_blank"><img src="/user_data/packages/default/img/common/foot_btn02.gif" width="114" height="11" border="0" alt="グループ情報サイトへ" /></a></li>
</ul>
</div>

<div id="fotterEco"><a href="http://www.aeon.info/environment/" target="_blank"><img src="/user_data/packages/default/img/common/foot_eco.gif" width="112" height="26" alt="木を植えています　私たちはイオンです" /></a></div>
</div>
</div>
<!--▲FOTTER-->



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18075963-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body><!-- ▲BODY部 エンド -->

</html>